# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Models & weights
*.h5
*.keras
*.ckpt
*.pth
*.pt

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.env
